<div fxLayout="row" fxLayoutAlign="space-between flex-start" style="margin: 20px">
  <h1>Posts</h1>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let post of posts"
  >
    <mat-card style="margin: 20px">
      <mat-card-title *ngIf="!post.author">Author: {{ 'Anonymous' }}</mat-card-title>
      <mat-card-title *ngIf="post.author">Author: {{ post.author }}</mat-card-title>
      <img
        [src]="post.image | image"
        [alt]="'Image is not uploaded '"
        mat-card-image
      />
      <mat-card-content>
        <p>Message: <strong>{{ post.message }} </strong></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


