<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a>Imageboard</a>
    </mat-toolbar>
    <div class="content">
      <app-posts></app-posts>
      <app-new-post></app-new-post>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
